@import "tailwindcss";

@theme {
  /* background colors */
  --color-bgprimary: #07332f;
  --color-bgsecondary: #fff7f4;

  /* text colores */
  --color-textprimary: #ffffff;
  --color-textsecondary: #f7a582;
  --color-black: #222222;

  /* border colores */
  --color-borderclr: #f7a582;
  --color-borderbg: #f7a582;

  /* mobile menu bg */
  --color-mobilemenubg: #0e4d49;
}

.active {
  color: #f7a582;
}

.category:hover ul {
  display: block;
}

.box:hover .overlay {
  height: 100%;
  transition: 0.3s ease-in-out;
}

.box:hover a {
  color: white;
}

.contactForm {
  background-image: url("/assets/images/contact-bg-img.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contactForm .overlay {
  background-color: rgba(24, 23, 23, 0.4);
  width: 100%;
  height: 100%;
}

.alldepartment .bg-mobilemenubg.mx-10.text-center.rounded.py-5.active {
  background-color: #f7a582;
}

.react-datepicker-wrapper {
  width: 100%;
}
